.about {
  padding-top: 3rem;
  margin: 0 1rem 1rem 1rem;
  &__title {
    padding: 1rem 0;
  }
  &__img {
    float: right;
    height: 40vw;
    width: 40vw;
    margin: 1rem 0 1rem 1rem;
    border-radius: 1.25rem;
  }
  //   &__content {
  //     padding: 1rem;
  //   }
}
