@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.services-preview {
  margin: 1rem;
  &__subheader {
    padding-top: 1rem;
    @include dynamicFont(
      600,
      $fontsize-mob-page-header,
      $lh-mob-page-header,
      $Blink-Black
    );
  }
  &__content {
    padding-top: 1rem;
    @include tablet {
      padding-left: 1.5rem;
    }
    &--wrapper {
      @include tablet {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__services {
    padding-top: 1rem;
    @include dynamicFont(
      600,
      $fontsize-mob-body-large,
      $lh-mob-body-large,
      $Blink-Black
    );
    @include tablet {
      @include dynamicFont(
        600,
        $fontsize-td-body-large,
        $lh-td-body-large,
        $Blink-Black
      );
    }
    &--wrapper {
      text-decoration: none;
      @include tablet {
        display: flex;
      }
    }
  }
  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__see-more {
    text-decoration: none;
    color: $Blink-Black;
    align-self: center;
  }

  &__see-more-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 1.25rem;
    background-color: $Rose-White;
    border: none;
    color: $Blink-Black;
    &:hover {
      background-color: #b4aead;
    }
    @include tablet {
      min-width: 15rem;
      align-self: center;
    }
  }
}
