@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

#root {
  background: #ffd7d7;
  font-family: Avenir-Next-Regular;
  color: #575c62;
  // @font-face {
  //   font-family: Avenir-Next-Regular;
  //   src: url(/src/assets/Font/AvenirNextLTPro-Regular.otf);
  //   src: url(/src/assets/Font/Alternative-files/AvenirNextLTPro.ttf);
  //   font-weight: 400;
  //   color: #575c62;
  // }
}
