@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

#root {
  background: $Blink-Pink;
  font-family: Avenir-Next-Regular, sans-serif;
  color: $Blink-Black;
  // @font-face {
  //   font-family: Avenir-Next-Regular;
  //   src: url(/src/assets/Font/AvenirNextLTPro-Regular.otf);
  //   src: url(/src/assets/Font/Alternative-files/AvenirNextLTPro.ttf);
  //   font-weight: 400;
  //   color: #575c62;
  // }
}

// body {
//   font-family: Avenir-Next-Regular, sans-serif;
//   color: $Blink-Black;
// }

.button {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 1.25rem;
  background-color: $Rose-White;
  border: none;
  color: $Blink-Black;
  &:hover {
    background-color: #b4aead;
  }
}
