@import "../partials/variables";
@import "../partials/typography";

// @mixin mobile {
//   @media only screen and (max-width: $mobile-cutoff-width) {
//     @content;
//   }
// }

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin m-page-header {
  font-family: Avenir-Next-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin m-section-header {
  font-family: Avenir-Next-Bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin m-subheader {
  font-family: Avenir-Next-Bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin m-body-copy {
  font-family: Avenir-Next-Regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin m-labels-buttons {
  font-family: Avenir-Next-Bold;
  font-size: 0.625rem;
  line-height: 1.25rem;
}

@mixin d-page-header {
  font-family: Avenir-Next-Bold;
  font-size: 2.0625rem;
  line-height: 2.75rem;
}

@mixin d-section-header {
  font-family: Avenir-Next-Bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin d-subheader {
  font-family: Avenir-Next-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin d-body-copy {
  font-family: Avenir-Next-Regular;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin d-labels-buttons {
  font-family: Avenir-Next-Bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

// /* -------------------------------------------------------------------------- */
// /*                        Mixin for Breakpoints                               */
// /* -------------------------------------------------------------------------- */
// // Mixin for desktop screens (1280px and greater)
// @mixin desktop {
//   @media only screen and (min-width: $desktop-screen-width) {
//       @content;
//   }
// }

// // Mixin for tablet screens (768px to 1279px)
// @mixin tablet {
//   @media only screen and (min-width: $tablet-screen-width) {
//       @content;
//   }
// // }

// // Mixin for mobile screens (767px and below)
// @mixin mobile {
//   @media only screen and (max-width: $mobile-cutoff-width) {
//     @content;
//   }
// }

/* -------------------------------------------------------------------------- */
/*                               Mixin for Font                               */
/* -------------------------------------------------------------------------- */
@mixin dynamicFont($weight, $size, $line-height, $color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: "Avenir-Next-Regular", sans-serif;
}
