$Blink-Black: #575c62;
$Blink-Pink: #ff7bf6;
$Silver: #afafaf;
$White: #ffffff;
$Blink-DarkBlack: #000000;
$Blink-DarkPink: #9a5295;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$Rose-White: #fff6f5;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
