$Blink-Black: #575c62;
$Blink-Pink: #ffd7d7;
$Rose-White: #fff6f5;
$Rose-White-pressed: #b4aead;
$Blink-DarkPink: #d77fd0;

$Silver: #afafaf;
$White: #ffffff;
$Blink-DarkBlack: #000000;
// $Blink-DarkPink: #9a5295;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$api-url: "http://localhost:8080/";

// Font Sizes

$fontsize-td-page-header: 2rem;
$fontsize-td-sub-header: 1.5rem;
$fontsize-td-llb: 0.875rem;
$fontsize-td-table-header: 0.75rem;
$fontsize-td-body-large: 1rem;
$fontsize-td-body-medium: 0.875rem;
$fontsize-td-body-small: 0.75rem;

$fontsize-mob-page-header: 1.5rem;
$fontsize-mob-sub-header: 1.25rem;
$fontsize-mob-llb: 0.8125rem;
$fontsize-mob-table-header: 0.6875rem;
$fontsize-mob-body-large: 0.9375rem;
$fontsize-mob-body-medium: 0.8125rem;
$fontsize-mob-body-small: 0.6875rem;

// Line Heights

$lh-td-page-header: 2.5rem;
$lh-td-sub-header: 2rem;
$lh-td-llb: 1.375rem; //labels, links, buttons
$lh-td-table-header: 1.125rem;
$lh-td-body-large: 1.75rem;
$lh-td-body-medium: 1.375rem;
$lh-td-body-small: 1.125rem;

$lh-mob-page-header: 2.25rem;
$lh-mob-sub-header: 1.75rem;
$lh-mob-llb: 1.25rem; //labels, links, buttons
$lh-mob-table-header: 1rem;
$lh-mob-body-large: 1.625rem;
$lh-mob-body-medium: 1.25rem;
$lh-mob-body-small: 1rem;
