@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.contact-form {
  margin-top: 24px;
}

.sq-form-control {
  display: flex;
  flex-flow: row wrap;
}

.sq-form-control input,
.sq-form-control textarea {
  font-size: 16px;
  line-height: 24px;
  padding: 11px 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin-bottom: 24px;
}

.sq-form-control input::placeholder,
.sq-form-control textarea::placeholder {
  color: $Silver;
}

.half-width:focus {
  border: 1px solid $Blink-DarkPink !important;
}

.sq-form-control .half-width {
  flex: 1 0 300px;
  margin-right: 20px;
}

.sq-form-control textarea {
  width: 100%;
  margin-right: 20px;
  resize: none;
  font-family: inherit;
}

.sq-form-control .contact-button.contact-btn-primary {
  width: 100%;
  margin-right: 20px;
  color: $Blink-Black;
  background-color: $Rose-White;
  font-weight: bold;
  border-radius: 1.25rem;
  border: none;
  font-size: 16px;
  padding: 17px;
  text-align: center;
  cursor: pointer;
  height: auto;
}
