@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.contact-form {
  margin-top: 1.5rem;
}

.sq-form-control {
  display: flex;
  flex-flow: row wrap;
}

.sq-form-control input,
.sq-form-control textarea {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.6875rem 1rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  margin-bottom: 1.5rem;
}

.sq-form-control input::placeholder,
.sq-form-control textarea::placeholder {
  color: $Silver;
}

.half-width:focus {
  border: 0.0625rem solid $Blink-DarkPink !important;
}

.sq-form-control .half-width {
  flex: 1 0 18.75rem;
  margin-right: 1.25rem;
}

.sq-form-control textarea {
  width: 100%;
  margin-right: 1.25rem;
  resize: none;
  font-family: inherit;
}

.sq-form-control .contact-button.contact-btn-primary {
  width: 100%;
  margin-right: 1.25rem;
  color: $Blink-Black;
  background-color: $Rose-White;
  font-weight: bold;
  border-radius: 1.25rem;
  border: none;
  font-size: 1rem;
  padding: 1.0625rem;
  text-align: center;
  cursor: pointer;
  height: auto;
}
