@use "../../styles/partials/variables" as *;
.contact {
  padding: 3rem 1rem 1rem 1rem;

  &__map-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Maintain aspect ratio (16:9) */
    height: 0;
    overflow: hidden;
    margin: 1rem -1rem 0 -1rem;
  }
  &__map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  &__subheader {
    margin-top: 1rem;
  }
  &__details {
    margin-top: 0.625rem;
    &--address {
      text-decoration: none;
      color: $Blink-Black;
      &:hover {
        text-decoration: underline;
      }
    }
    &--address p {
      margin-top: 0.625rem;
    }
  }
  &__title {
    padding-top: 2rem;
  }
  &__link {
    text-decoration: none;
    color: $Blink-Black;
    &:hover {
      text-decoration: underline;
    }
  }
}

// .map-container iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border: 0;
// }
