@use "../../styles/partials/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  &__label {
    margin-top: 1rem;
  }
  &__input {
    margin-top: 0.25rem;
    border: 0.0625rem solid $Mercury;
    background-color: $Alabaster;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.25rem;
    &::placeholder {
      color: $Blink-Black;
    }
    &:focus {
      outline: 0.125rem solid $Blink-DarkPink;
      background-color: $White;
    }

    &--text-area {
      height: 4.5rem;
    }
  }
}

.error {
  border: 1px solid red;
}
