@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.form {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }
  &--left {
    @include tablet {
      width: 100%;
    }
  }
  &--right {
    @include tablet {
      width: 100%;
      margin-left: 1rem;
    }
  }
  &__label {
    margin-top: 1rem;
  }
  &__input {
    margin-top: 0.25rem;
    border: 0.0625rem solid $Mercury;
    background-color: $Alabaster;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.25rem;
    &::placeholder {
      color: $Blink-Black;
    }
    &:focus {
      outline: 0.125rem solid $Blink-DarkPink;
      background-color: $White;
    }

    &--text-area {
      height: 4.5rem;
    }
  }
}

.services-preview__see-more-wrapper {
  margin: 1rem auto;
}

.error {
  border: 1px solid red;
}
