@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.nav {
  display: flex;
  width: 100%;
  justify-content: right;
  height: auto;
  position: absolute;
  z-index: 4;
  @include tablet {
    justify-content: space-between;
  }

  &__logo-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      z-index: 4;
      left: 5%;
    }
  }

  &__logo {
    height: 6rem;
    width: 6rem;
    align-self: center;
    filter: invert(1) opacity(0.85);
    @include tablet {
      filter: invert(0.55) opacity(0.85);
    }
  }

  &__list {
    list-style-type: none;
    flex-direction: column;
    align-self: baseline;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: absolute;
    width: 100vw;
    text-align: center;
    background: $Rose-White;
    z-index: 3;

    &--open {
      display: flex;
    }

    &--closed {
      display: none;
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__item {
      padding: 0.25rem 0;
      @include m-body-copy;

      @include tablet {
        padding-right: 1rem;
      }
    }
  }
  &__list a {
    text-decoration: none;
    color: $Blink-Black;
  }
}

.hamburger {
  width: 1.5rem;
  height: 1.5rem;
  filter: brightness(2.5) opacity(0.85);
  position: relative;
  z-index: 4;
  padding: 1rem 1rem 0 0;

  &__icon--inactive {
    background-image: url(/src/assets/Icons/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    filter: invert(1) opacity(0.85);
  }
  &__icon--active {
    background-image: url(/src/assets/Icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    filter: grayscale(80%) brightness(56%) opacity(0.85);
  }

  @include tablet {
    display: none;
  }
}

.nav--filter {
  filter: invert(0.4) opacity(0.85);
}
