.book-now {
  padding-top: 4rem;
  width: 100%;
}

.coming-soon {
  width: 100%;
  padding-top: 4rem;
  object-fit: contain;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}
