@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.gallery {
  margin: 0 1rem 1rem 1rem;
  padding-top: 3rem;

  @include tablet {
    padding-top: 5rem;
  }

  &__title {
    margin-top: 1rem;
  }

  &__image {
    width: 100%;
    height: 75vh;
    padding-top: 1rem;
    object-fit: cover;
  }
}
