@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

// .service-list {
//   padding-top: 3rem;
// }

// @import url(https://square-fonts-production-f.squarecdn.com/square-sans.min.css);

// body {
//   font-size: 14px;
//   line-height: 22px;
//   color: rgba(0, 0, 0, 0.9);
//   font-family: var(--square-sans-text);
// }

// h1 {
//   font-size: 52px;
//   line-height: 60px;
//   margin-top: 0px;
//   margin-bottom: 16px;
//   font-family: var(--square-sans-display);
// }

// button {
//   font-family: var(--square-sans-text);
// }

h2 {
  @include dynamicFont(
    600,
    $fontsize-mob-page-header,
    $lh-mob-page-header,
    $Blink-Black
  );
}

// h3 {
//   font-size: 32px;
//   line-height: 40px;
//   margin: 0;
// }

// h5 {
//   font-size: 14px;
//   line-height: 24px;
//   letter-spacing: 0.006em;
//   margin-top: 28px;
//   margin-bottom: 10px;
// }

a {
  text-decoration: none;
  color: $Blink-Black;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: $Blink-Black;
}

// .icon {
//   width: 10px;
//   height: 10px;
//   display: inline-block;
//   background-repeat: no-repeat;
//   background-position: center;
// }

.icon.side-caret-selected {
  background-image: url("/images/side-caret-selected.svg");
}

.icon.plus {
  background-image: url("/images/plus.svg");
}

.icon.back-arrow {
  width: 20px;
  background-image: url("/images/back-arrow.svg");
}

.content {
  // max-width: 1200px;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
}

.content-left {
  width: 100%;
  // margin: 70px 30px;
}

.content-main {
  // margin: 70px 50px;
}

.button {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.title {
  color: $Blink-Black;
  margin-top: 2.5rem;
  // margin: 38px 0px 0px 0px;
}

.underline {
  position: static;
  width: 76px;
  height: 2px;
  left: 0px;
  top: 38px;
  background: $Blink-Black;
  border-radius: 6px 6px 0px 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 5px 0px 24px 0px;
}

/* Select services page */
.card__wrapper {
  flex-direction: row;
  align-items: center;
  padding: 32px;
  left: 592px;
  top: 254px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 12px;
  margin: 24px 0px 24px 0px;
  display: flex;
}

.card__wrapper:hover {
  border-color: #007fff;
}

.card__wrapper.disabled:hover {
  border-color: rgba(0, 0, 0, 0.08);
}

.card__wrapper.disabled {
  background: #f5f6f7;
}

.card__description {
  color: rgba(0, 0, 0, 0.55);
  margin-top: 4px;
}

.card__icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.card__details {
  margin-top: 4px;
}

.card__info {
  margin-right: 20px;
  position: static;
  margin: 4px 20px 4px 0px;
  width: 95%;
}

.business__location {
  margin-top: 32px;
}

.business__location span {
  color: #71767b;
}

.business__contact {
  margin-top: 24px;
}

.business__contact span {
  color: rgba(0, 0, 0, 0.55);
}

.business__logo {
  margin-bottom: 24px;
}

.business__logo img {
  width: 104px;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
}

/* Header */

.top-nav {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.top-nav__logo {
  float: left;
  margin-left: 25px;
  margin-right: 15px;
}

.top-nav__logo img {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
}

.top-nav__name {
  margin-top: 10px;
}

/* Different timezones warning */
.timezone-warning {
  border: 1px solid #ff901a;
  background-color: #fff3e6;
  color: #5f666c;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: left;
}

.timezone-warning span {
  margin: 5px;
}

.timezone-warning .notify-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
}
//

.content__card {
  max-width: 500px;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 12px;
  display: inline-block;
}

.message-sm {
  font-size: 16px;
  line-height: 26px;
  color: #71767b;
  margin-top: 8px;
}

//

.content__service.message-sm {
  margin-bottom: 0px;
}

.content__card-wrapper {
  display: inline-block;
  padding: 50px 95px;
  max-width: 328px;
}

.content__card-date {
  margin-top: 37px;
  margin-bottom: 16px;
}

.button__group .sq-form-control .button {
  margin-right: 0px;
  height: 40px;
  padding: 9px;
  font-size: 14px;
}

.staff__card-details--confirm {
  margin-left: 10px;
}

.button__group {
  margin-top: 46px;
}

.content__card-description {
  font-size: 16px;
  line-height: 26px;
}

.success-toast {
  justify-content: center;
  display: flex;
  margin-top: 60px;
  min-width: 350px;
}

.success-toast div {
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 50px;
  background-color: white;
  padding: 0 24px;
}

.success-toast img {
  margin-right: 12px;
  vertical-align: middle;
}

/* Support smaller screens up to 700px */

@media only screen and (max-width: 1150px) {
  .staff__card-details {
    padding-right: 50px;
  }

  .availability button.available-time {
    padding: 9px 6px;
    margin: 9px;
  }
}
