@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

h2 {
  @include dynamicFont(
    600,
    $fontsize-mob-page-header,
    $lh-mob-page-header,
    $Blink-Black
  );
}

a {
  text-decoration: none;
  color: $Blink-Black;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: $Blink-Black;
}

.icon.side-caret-selected {
  background-image: url("/images/side-caret-selected.svg");
}

.icon.plus {
  background-image: url("/images/plus.svg");
}

.icon.back-arrow {
  width: 1.25rem;
  background-image: url("/images/back-arrow.svg");
}

main {
  max-width: 64rem;
  margin: auto;
}

.content {
  display: flex;
  @include tablet {
    padding-top: 3rem;
  }
}

.content-left {
  width: 100%;
}

.content-main {
  margin: 0 1rem 1rem 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.5rem;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.title {
  color: $Blink-Black;
  margin-top: 1.5rem;
}

.underline {
  position: static;
  width: 4.75rem;
  height: 0.125rem;
  left: 0;
  top: 2.375rem;
  background: $Blink-Black;
  border-radius: 0.375rem 0.375rem 0px 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0.3125rem 0px 1.5rem 0px;
}

/* Select services page */
.card__wrapper {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 1.5rem 0px 1.5rem 0px;
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid $Blink-Black;
}

.card__wrapper:hover {
  border-color: $Rose-White;
}

.card__wrapper.disabled:hover {
  border-color: rgba(0, 0, 0, 0.08);
}

.card__wrapper.disabled {
  background: #f5f6f7;
}

.card__description {
  color: rgba(0, 0, 0, 0.55);
  margin-top: 0.25rem;
}

.card__icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.card__details {
  margin-top: 0.25rem;
}

.card__info {
  width: 95%;
}

.business__location {
  margin-top: 2rem;
}

.business__location span {
  color: #71767b;
}

.business__contact {
  margin-top: 1.5rem;
}

.business__contact span {
  color: rgba(0, 0, 0, 0.55);
}

.business__logo {
  margin-bottom: 1.5rem;
}

.business__logo img {
  width: 6.5rem;
  height: 6.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
}

/* Header */

.top-nav {
  font-size: 0.875rem;
  line-height: 1.5rem;
  position: relative;
  font-weight: bold;
  padding: 0.9375rem 0;
  display: inline-block;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
}

.top-nav__logo {
  float: left;
  margin-left: 1.5625rem;
  margin-right: 0.9375rem;
}

.top-nav__logo img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
}

.top-nav__name {
  margin-top: 0.625rem;
}

.content__card {
  max-width: 31.25rem;
  margin-top: 2.5rem;
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 0.75rem;
  display: inline-block;
}

.message-sm {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #71767b;
  margin-top: 0.5rem;
}

.content__service.message-sm {
  margin-bottom: 0;
}
