@import "../src/styles/partials/global";
@import "../src/styles/partials/mixins";
@import "../src/styles/partials/typography";
@import "../src/styles/partials/variables";

.confirm-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
}

.steps,
.staff {
  margin-top: 24px;
}

.steps__step-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.009em;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bold;
  align-items: center;
}

.steps__step-title a {
  color: rgba(0, 0, 0, 0.55);
}

.steps__step-name,
.staff__card-name {
  font-size: 18px;
  color: black;
  line-height: 26px;
  letter-spacing: 0.006em;
  font-weight: bold;
}

.staff__card-description {
  color: rgba(113, 118, 123, 1);
  font-size: 14px;
  line-height: 22px;
}

.staff__card {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.staff__card:hover {
  border-color: #007fff;
}

.staff__card-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.staff__card-picture {
  flex: 0 0 70px;
  margin-right: 16px;
  position: relative;
}

.staff__card-picture img,
.staff__card-picture-wrapper img {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}
.staff__card-picture-wrapper {
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  display: flex;
  font-size: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.55);
  align-items: center;
  justify-content: center;
}

.staff__card-details {
  padding-right: 150px;
  flex: 1;
}

.staff__card-details--confirm {
  padding-left: 1.5rem;
}

.staff__card .icon {
  flex: 0 0 10px;
}

#any-staff .staff__card-picture-wrapper {
  width: 46px;
  height: 46px;
  font-size: 24px;
}

#any-staff img {
  width: 46px;
  border: 1px solid white;
  border-radius: 24px;
  height: 46px;
  object-fit: cover;
}

#any-staff #image-1 {
  position: absolute;
  top: 0;
  left: 0;
}

#any-staff #image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.content__card {
  max-width: 500px;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 12px;
  display: inline-block;
}

.content__card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 4rem;
  max-width: 20rem;
}

.confirm-button {
  width: 100%;
  margin-top: 1.5rem;
  color: $Rose-White;
  background-color: $Blink-Black;
  font-weight: bold;
  border-radius: 1.25rem;
  border: none;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  height: 2.5rem;
}
